<meta property="og:type" content="webpage" />
<meta property="og:url" content="http://sports.sina.com.cn/nba/2012-12-26/06576353009.shtml" />
<meta property="og:title" content="圣诞战总得分王!科比34+5写历史 暴强数据16年第2" />
<meta property="og:description" content="科比-布莱恩特不出意料地拿下34分并成为了圣诞大战史上得分王，不仅如此，这位34岁的神已连续9场比赛得分30+，创造了个人生涯第二好成绩并向着2003年连续16场的壮举继续迈进！" />

<div class="page-header">
  <h1 class="title"><%= @topic.title %></h1>
  <div class="center"><%= @topic.time.to_s %></div>
</div>

<div class="row">
  <div class="well col-md-10 col-md-offset-1">
    <%= render html: @topic.content.gsub(/\n/, '<br>').html_safe %><br><br>
    <wb:share-button appkey="624iaQ" addition="number" type="button"></wb:share-button>
  </div>
</div>




<div class="row">
  <div class="btn-group col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <%= link_to 'Back', topics_path, :class => " btn btn-default"%>
    <% if is_admin? %>
      <%= link_to 'Edit', edit_topic_path(@topic), :class => " btn btn-default"%>
      <%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => 'color: #FFFFFF'%>
    <% end %>

  </div>
</div>
