<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form>
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label "News ID" %><br>
          <%= f.text_field :news_id,class:"form-control" %><br>

          <%= f.label :time %><br>
          <%= f.date_select :time, {}, {:class => 'date-select'} %><br><br>

          <%= f.label :title %><br>
          <%= f.text_field :title,class:"form-control" %><br>

          <%= f.label :content %><br>
          <%= f.text_area :content,class:"form-control", :rows => "10" %><br>

          <%= f.submit "Submit", class:"btn btn-primary"%>
        </div>
      </div>
    </form>
<% end %>
