<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <%= image_tag( @member.avatar, :class => "img-thumbnail") %>
  </div>
  <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <table class="table table-striped table-bordered">
      <tr>
        <td>
          <strong>Member ID:</strong>
        </td>
        <td>
          <%= @member.member_id %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Name:</strong>
        </td>
        <td>
          <%= @member.name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Gender:</strong>
        </td>
        <td>
          <%= @member.gender %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Position:</strong>
        </td>
        <td>
          <%= @member.position %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>About:</strong>
        </td>
        <td>
          <%= @member.about %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Motto:</strong>
        </td>
        <td>
          <%= @member.motto %>
        </td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="btn-group col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">

    <%= link_to 'Back', members_path, :class => " btn btn-default"%>
    <% if logged_in? %>
        <%= link_to 'Edit', edit_member_path(@member), :class => " btn btn-default"%>
        <%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => 'color: #FFFFFF'%>
    <% end %>
  </div>
</div>

